<a href="https://colab.research.google.com/github/chiragguptx/data-science/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1) raw data    2)structured data   3)tabular data(.csv file,database)

IMPORT

In [3]:
import numpy as np
import pandas as pd
#version#
pd.__version__

'1.5.3'

create pandas series

In [4]:
number_series=pd.Series([2,3,4,5,6])
print(number_series)

0    2
1    3
2    4
3    5
4    6
dtype: int64

In [5]:
number_series=pd.Series([2,3,4,5,6],index=['a','b','c','d','e'])
print(number_series)
#retrieve data from index
print(number_series['a'])

a    2
b    3
c    4
d    5
e    6
dtype: int64
2

create pandas dataframe

In [6]:
some_2d_array=np.random.randint(4,6,(4,4))
first_dataframe=pd.DataFrame(some_2d_array,columns=['chirag','shourya','monica','shraye'])
print(first_dataframe)

   chirag  shourya  monica  shraye
0       5        4       5       4
1       4        5       4       4
2       5        4       5       4
3       5        4       4       4

when index are given

In [7]:
some_2d_array=np.random.randint(4,6,(4,4))
another_dataframe=pd.DataFrame(some_2d_array,columns=['chirag','shourya','monica','shraye'],index=[1,2,3,4])
print(another_dataframe)

   chirag  shourya  monica  shraye
1       5        5       4       5
2       5        4       5       4
3       5        5       4       5
4       4        4       5       4

conventional list of lists

In [8]:
lol=[['amar',10],['chirag',19],['shourya',30]]
df=pd.DataFrame(lol,index=[1,2,3],columns=['name','age'])
print(df)

      name  age
1     amar   10
2   chirag   19
3  shourya   30

using a dictionary

In [9]:
emp_dict={'employee name':['chirag','shourya','kavya'],'income':[20000,108393,18278]}
emp_df=pd.DataFrame(emp_dict,index=[1,2,3])
print(emp_df)

  employee name  income
1        chirag   20000
2       shourya  108393
3         kavya   18278

using a list of dictionaries

In [10]:
lod=[{'a':1,'b':2,'c':3},{'a':10,'b':20,'c':30}]
df=pd.DataFrame(lod)
print(df)

    a   b   c
0   1   2   3
1  10  20  30

if number of keys are different

In [11]:
lod=[{'a':1,'b':2},{'a':10,'b':20,'c':30}]
df=pd.DataFrame(lod)
print(df)

    a   b     c
0   1   2   NaN
1  10  20  30.0

otherway of doing it

In [12]:
actor_name=['ray','chirag','shourya','manik']
actor_age=[22,32,43,np.NaN]
list_of_tuples=list(zip(actor_name,actor_age))
actor_df=pd.DataFrame(list_of_tuples,columns=['name','age'])
print(actor_df)

      name   age
0      ray  22.0
1   chirag  32.0
2  shourya  43.0
3    manik   NaN

dataframe with 100 rows and 5 columns

In [13]:
our_array=np.random.randn(100,5)
df=pd.DataFrame(our_array,columns=['a','b','c','d','e'])
print(df)

           a         b         c         d         e
0  -0.619350  1.907482 -1.167097 -0.071432  1.303515
1  -0.108876  0.067960  0.438284 -0.796512  0.253834
2  -1.171401 -0.356416 -0.161034  1.933696 -0.878314
3  -0.489607 -0.510293 -1.135781  1.755585 -0.517976
4  -0.352379  0.018092  0.069454 -1.295050 -0.578755
..       ...       ...       ...       ...       ...
95  1.130969 -1.026953 -0.548464  0.605035 -0.413202
96  0.031016 -0.839583 -0.641052 -1.189012  0.303102
97 -0.001442 -0.633867 -0.667335  2.037441 -1.124709
98  1.125363  1.591623 -0.341153 -1.400897 -0.487190
99 -1.188655 -0.994291  0.321608  0.537610  0.553012

[100 rows x 5 columns]

head()-- print the first n rows. by default it prints the first j rows

In [15]:
df.head(20)

           a         b         c         d         e
0  -0.619350  1.907482 -1.167097 -0.071432  1.303515
1  -0.108876  0.067960  0.438284 -0.796512  0.253834
2  -1.171401 -0.356416 -0.161034  1.933696 -0.878314
3  -0.489607 -0.510293 -1.135781  1.755585 -0.517976
4  -0.352379  0.018092  0.069454 -1.295050 -0.578755
5   0.062666  0.995636 -0.333434 -0.302542 -0.711268
6  -0.830862  0.454490 -0.095862  1.676502  0.816995
7  -2.176385 -1.930695  0.657111  1.295030 -0.778887
8   0.115571 -0.284011 -0.393315 -0.633199 -2.069147
9  -0.108113  0.796487  0.244861  0.017989 -0.677009
10 -0.280150  0.509960  0.216766  2.056480 -1.190896
11  2.072815  2.753950 -0.380578  0.191707 -0.577033
12  0.108515 -0.747504 -1.021242 -0.425417 -0.959894
13  0.519203 -0.116497  0.599506  0.309959  0.148011
14 -1.305501 -0.542736 -0.057343 -0.017899  0.116988
15  0.191618  2.256129 -0.321105  0.068942  0.043411
16 -0.953774 -0.890569  0.155728 -0.063323  0.351217
17  1.053761 -2.424081 -1.023603 -0.766879 -0.549761
18 -0.198053  0.899125  0.332066  0.477455  0.076798
19  0.232979  1.139135 -1.882564  1.149755 -1.123031

tail()-- print the last n rows of dataframe. by default it prints the last 5 rows

---

In [17]:
df.tail(10)

           a         b         c         d         e
90  1.471794  0.603572  0.669151 -1.575325 -0.224868
91 -1.698633  0.670221 -0.581915  0.006968 -0.440133
92 -0.648187  0.067500 -0.782490  0.244360  0.095202
93  0.596976  0.706770  0.442352 -0.244137  0.276379
94  0.397781 -1.316244  0.005991  0.629228 -0.235986
95  1.130969 -1.026953 -0.548464  0.605035 -0.413202
96  0.031016 -0.839583 -0.641052 -1.189012  0.303102
97 -0.001442 -0.633867 -0.667335  2.037441 -1.124709
98  1.125363  1.591623 -0.341153 -1.400897 -0.487190
99 -1.188655 -0.994291  0.321608  0.537610  0.553012

columns-- print last of columns

In [20]:
df.columns

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

info()-- prints basic info about dataframes

In [21]:
actor_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    4 non-null      object
 1   age     3 non-null      float64
dtypes: float64(1), object(1)
memory usage: 192.0+ bytes

rename()--