<a href="https://colab.research.google.com/github/chiragguptx/data-science/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1) raw data    2)structured data   3)tabular data(.csv file,database)

IMPORT

In [11]:
import numpy as np
import pandas as pd
#version#
pd.__version__

'1.5.3'

create pandas series

In [6]:
number_series=pd.Series([2,3,4,5,6])
print(number_series)

0    2
1    3
2    4
3    5
4    6
dtype: int64

In [12]:
number_series=pd.Series([2,3,4,5,6],index=['a','b','c','d','e'])
print(number_series)
#retrieve data from index
print(number_series['a'])

a    2
b    3
c    4
d    5
e    6
dtype: int64
2

create pandas dataframe

In [17]:
some_2d_array=np.random.randint(4,6,(4,4))
first_dataframe=pd.DataFrame(some_2d_array,columns=['chirag','shourya','monica','shraye'])
print(first_dataframe)

   chirag  shourya  monica  shraye
0       4        5       4       4
1       4        4       4       5
2       5        5       4       5
3       5        5       4       4

when index are given

In [18]:
some_2d_array=np.random.randint(4,6,(4,4))
another_dataframe=pd.DataFrame(some_2d_array,columns=['chirag','shourya','monica','shraye'],index=[1,2,3,4])
print(another_dataframe)

   chirag  shourya  monica  shraye
1       5        4       4       5
2       4        4       5       5
3       5        4       4       4
4       5        5       4       4

conventional list of lists

In [21]:
lol=[['amar',10],['chirag',19],['shourya',30]]
df=pd.DataFrame(lol,index=[1,2,3],columns=['name','age'])
print(df)

      name  age
1     amar   10
2   chirag   19
3  shourya   30

using a dictionary

In [22]:
emp_dict={'employee name':['chirag','shourya','kavya'],'income':[20000,108393,18278]}
emp_df=pd.DataFrame(emp_dict,index=[1,2,3])
print(emp_df)

  employee name  income
1        chirag   20000
2       shourya  108393
3         kavya   18278

using a list of dictionaries

In [26]:
lod=[{'a':1,'b':2,'c':3},{'a':10,'b':20,'c':30}]
df=pd.DataFrame(lod)
print(df)

    a   b   c
0   1   2   3
1  10  20  30

if number of keys are different

In [27]:
lod=[{'a':1,'b':2},{'a':10,'b':20,'c':30}]
df=pd.DataFrame(lod)
print(df)

    a   b     c
0   1   2   NaN
1  10  20  30.0

otherway of doing it

In [28]:
actor_name=['ray','chirag','shourya','manik']
actor_age=[22,32,43,np.NaN]
list_of_tuples=list(zip(actor_name,actor_age))
actor_df=pd.DataFrame(list_of_tuples,columns=['name','age'])
print(actor_df)

      name   age
0      ray  22.0
1   chirag  32.0
2  shourya  43.0
3    manik   NaN

dataframe with 100 rows and 5 columns

In [29]:
our_array=np.random.randn(100,5)
df=pd.DataFrame(our_array,columns=['a','b','c','d','e'])
print(df)

           a         b         c         d         e
0   0.643748 -0.890561  1.075008  1.405205 -1.779147
1   0.032781 -0.013506 -1.759403  1.347330  0.701545
2  -0.328192  0.425644  0.287670 -0.163978 -0.398751
3   0.165940 -0.380523 -1.307761 -0.490968 -0.314371
4   0.770857 -1.810328  0.899245 -0.495844 -1.042702
..       ...       ...       ...       ...       ...
95 -0.185053 -0.400217  0.192806  0.606961  1.971208
96  0.089285  0.288156 -0.378785 -0.119949  0.384125
97 -0.439432 -1.568353  0.393212  1.130351 -0.803034
98  0.309649  1.262431 -0.553435  1.921920  1.277435
99 -1.537280 -2.198887  0.006923 -1.301533 -1.239285

[100 rows x 5 columns]