<a href="https://colab.research.google.com/github/chiragguptx/data-science/blob/main/tuples_and_sets_in_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#[TUPLES] tuples are immutable ie they can not be changed
list=[]
tuples=()#

tuple

In [4]:
my_tuple=(1,'a',3)
print(my_tuple)
print(type(my_tuple))
print(len(my_tuple))

(1, 'a', 3)
<class 'tuple'>
3

indexing

In [3]:
my_tuple=(1,'a',3)
my_tuple[1]

'a'

all other functions are same

[SETS]

collection of unique elements
sets are like lists(mutablle ie changeable)
empty set=()
non-empty set={}

In [8]:
empty_set=set()
type(empty_set)
#if empty set={} then it is dictionary#
my_set={}
type(my_set)

dict

removing duplicate elments using sets

In [9]:
my_list=[1,2,3,4,2,2,3,4,1,5,6,22,53]
my_set=set(my_list)
print(my_set)

{1, 2, 3, 4, 5, 6, 53, 22}

add()

In [10]:
my_set=set()
my_set.add('c')
my_set.add(2)
print(my_set)

{'c', 2}

update()

In [13]:
my_set={1,2,3,5}
my_set.update([8,7,6])
print(my_set)

{1, 2, 3, 5, 6, 7, 8}

remove()- remove an element by its name

In [16]:
my_set={1,2,3,5}
my_set.remove(1)
print(my_set)

{2, 3, 5}

union()

In [19]:
a={1,2,3,4,5}
b={5,6,7,8,9}
print(a.union(b))
print(a|b)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

intersection()

In [22]:
a={1,2,3,4,5}
b={5,6,7,8,9}
print(a.intersection(b))
print(a&b)

{5}
{5}

difference()

In [25]:
a={1,2,3,4,5}
b={5,6,7,8,9}
print(a.difference(b))
print(a-b)
print(b.difference(a))
print(b-a)

{1, 2, 3, 4}
{1, 2, 3, 4}
{8, 9, 6, 7}
{8, 9, 6, 7}

symmetric difference()

In [27]:
a={1,2,3,4,5}
b={5,6,7,8,9}
print(a.symmetric_difference(b))
print(a^b)

{1, 2, 3, 4, 6, 7, 8, 9}
{1, 2, 3, 4, 6, 7, 8, 9}