<a href="https://colab.research.google.com/github/chiragguptx/data-science/blob/main/tuples_and_sets_in_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#[TUPLES] tuples are immutable ie they can not be changed
list=[]
tuples=()#

tuple

In [4]:
my_tuple=(1,'a',3)
print(my_tuple)
print(type(my_tuple))
print(len(my_tuple))

(1, 'a', 3)
<class 'tuple'>
3

indexing

In [3]:
my_tuple=(1,'a',3)
my_tuple[1]

'a'

all other functions are same

[SETS]

collection of unique elements
sets are like lists(mutablle ie changeable)
empty set=()
non-empty set={}

In [8]:
empty_set=set()
type(empty_set)
#if empty set={} then it is dictionary#
my_set={}
type(my_set)

dict

removing duplicate elments using sets

In [9]:
my_list=[1,2,3,4,2,2,3,4,1,5,6,22,53]
my_set=set(my_list)
print(my_set)

{1, 2, 3, 4, 5, 6, 53, 22}